<nav
  class="navbar navbar-expand-lg bg-transparent py-0 justify-content-between"
>
  <a class="navbar-brand" href="/">
    <img
      src="https://www.my-hammer.de/sites/default/files/myh_logo_de_combined_claim_rgb_gradient_4.jpg"
      height="70"
      alt="MyHammer Logo"
    />
  </a>

  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>
