<!-- <table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody *ngFor="let job of jobs" >
    <tr *ngIf="job.state == 'active'">
      <a  routerLink="job/{{ job.id }}">
        <td>{{ job.title }}</td>
      </a>
    </tr>
  </tbody>
</table> -->

<article *ngFor="let job of jobs" id="job-item-{{job.id}}" class="">
  <div *ngIf="job.state == 'active'" >
  <div class="">
  <a href="/">
    <img alt="myHammer AG" src="" class="">
  </a>
</div>
<div class="">
  <div class="">
    <a routerLink="job/{{ job.id }}">
      <h2 class="">{{job.title}} (w/m/d)</h2>
    </a>
  </div>
  <div class="">MyHammer AG</div>
  <ul class="">
    <li class="">
      <span class="" aria-hidden=""></span>
      <time class="" datetime="" data-tid="104">vor 1 Tag</time>
    </li>
    <li class="">
      <span class="" aria-hidden="true"></span>
      {{job.city}}
    </li>
  </ul>
</div>
</div>
</article>
