<article *ngFor="let job of jobs" id="job-item-{{ job.id }}" class="mt-2">
  <div *ngIf="job.state == 'active'">
    <div class="card">
      <div class="card-body">
        <div class="mt-0">
          <a routerLink="/" style="cursor: pointer;">
            <span class="mt-1 pt-1">
              <img
                alt="myHammer AG"
                src="{{ job.thumbnail }}"
                class="rounded float-left"
                style="width: 100px;height:100px;"
              />
            </span>
          </a>
        </div>

        <div class="pl-5 ml-5">
          <a routerLink="job/{{ job.id }}">
            <h2 class="card-title ml-1 pl-2">{{ job.title }} (w/m/d)</h2>
          </a>
          <h5 class="ml-1 pl-2 company-name">MyHammer AG</h5>
          <div class="text-muted mt-1 ml-1 pl-2">
            <i class="fa fa-map-marker fa-1x"></i>
            <span class="ml-1 pl-1">
              {{ job.city }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
