<!-- <table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody *ngFor="let job of jobs" >
    <tr *ngIf="job.state == 'active'">
      <a  routerLink="job/{{ job.id }}">
        <td>{{ job.title }}</td>
      </a>
    </tr>
  </tbody>
</table> -->

<article *ngFor="let job of jobs" id="job-item-{{job.id}}" class="mt-3">
  <div *ngIf="job.state == 'active'" >
<div class="card">
  <div class="card-body">

 <div class="">
  <a routerLink="/" style="cursor: pointer;">
    <img alt="myHammer AG" src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded float-left" style="width: 100px;height:100px;">
  </a>
</div>

<div class="mr-5">

  <div class="ml-5">
    <a routerLink="job/{{ job.id }}">
      <h2 class="card-title">{{job.title}} (w/m/d)</h2>
    </a>
  </div>
  <div class="">MyHammer AG</div>
    <div class="text-muted mt-3 ">
     <i class="fa fa-map-marker fa-2x"></i> <span class="ml-2">
{{job.city}}
     </span>
    </div>
</div>

</div>
  </div>
</div>
</article>

